:root {
    margin: 0 3rem;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #1a1a1e;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 3em 2em;
    display: flex;
}
h3 {
    margin: 0 0 0.7em 0;
}
.bar {
    display: flex;
    align-items: center;
    background: #222327;
    padding: 0.7em 0;
    margin: 0.5em 0;
    border-radius: 8px;
    width: 100%;
}

.section-input {
    flex: 1;
    background: #222327;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: #dddddd;
    font-size: 14px;
    outline: none;
    font-family: inherit;
    padding: 2px;
    height: 20px;
}

.section-input-task {
    padding: 1em;
}
.section-input-task::-webkit-inner-spin-button,
.section-input-task::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.section-input-channel {
    width: 20em;
    align-content: center;
}
.section-input-token {
    width: 9em;
    align-content: center;
}
.section-input-message {
    width: 60em;
}
.section-input-attachment {
    width: 36em;
}

.section-container {
    display: flex;
    gap: 1rem;
}

.section {
    padding: 1em;
}

.section-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section-title {
    display: inline-block;   /* or block, or flex */
    width: 17em;
    font-weight: bold;
    padding-left: 1em;
}

.section-item {
    flex: 1;
    background: #222327;
    border: none;
    border-radius: 6px;
    padding: 10px;
    color: #dddddd;
    font-size: 14px;
    outline: none;
    min-height: 28px;
    position: relative;
}

.section-subitem {
    margin: 0 0.8em;
    background: #222327;
    border: none;
    border-radius: 6px;
    min-width: 7em;
    padding: 1em 1.5em;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.btn {
    margin: 0 1em;
    background: #222327;
    border: none;
    border-radius: 6px;
    min-width: 7em;
    padding: 1em 1.5em;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.btn:hover {
    background-color: rgba(78, 92, 250, 0.86);
}

.attachment-image {
    width: 10em;
    height: 10em;
    border-radius: 6px;
    object-fit: cover;
}

.object-fit-cover {
    width: 10em;
    height: 10em;
    border-radius: 6px;
    object-fit: cover;
}

.absolute-btn {
    position: absolute;
    top: 0.9em;
    right: 1.25em;
    background: rgba(0,0,0,0.6);
    border: none;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.25em 0.55em 0.34em 0.5em;
    border-radius: 4px;
    cursor: pointer;
}

.absolute-btn:hover {
    background: rgba(255,0,0,0.8);
}

.file-name {
    position: absolute;
    right: 50%;
    transform: translate(45%);
    color: rgba(32, 54, 135, 0.48);
    font-weight: bold;
}

.attachment-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.user-list {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 0em;
    gap: 1rem;
}

.comment {
    font-size: 0.8em;
    margin: 0;
    color: #676767;
}