@import "tailwindcss";
@tailwind utilities;

.panel1 {
    @apply bg-neutral-900 rounded-2xl px-6 py-4 border border-neutral-700 shadow;
}
.panel1-header {
    @apply w-full h-full font-bold text-2xl
}
.panel1-subheader {
    @apply w-full h-full text-sm
}
.comment {
    @apply w-full h-full text-sm text-neutral-400
}
.panel2 {
    @apply px-5 py-2 bg-black border border-neutral-700 rounded-lg
    text-white
}
.input {
    @apply w-full placeholder-neutral-500 focus:outline-none focus:border-white;
}
.centered {
    @apply flex items-center justify-center
}
.buttonstyle1 {
    @apply border border-dashed border-neutral-700
    transition-colors text-neutral-400 hover:border-white hover:text-white
    cursor-pointer;
}
.buttonstyle2 {
    @apply transition-colors text-neutral-400 hover:bg-neutral-800 hover:text-neutral-300
    cursor-pointer;
}
.buttonstyle3 {
     @apply transition-colors bg-white text-black;
 }
.buttonstyle4 {
    @apply transition-colors bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg
    cursor-pointer;
}
.buttonstyle5 {
    @apply transition-colors bg-red-500 hover:bg-red-700 text-white rounded-lg hover:text-neutral-300 border-amber-950
    cursor-pointer;
}
.overlay {
    @apply fixed top-0 left-0 w-screen h-screen bg-black/50 z-[9999];
}

:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

